.card {
    position: relative;
    background-color: deeppink;
    color: #fff;
    margin: 20px 20%;
    border-radius: 5px;
    line-height: 2em;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    text-align: center;
    padding: 10px 25px;
}

.card-question {
    font-size: 2rem;
    font-weight: 500;
}

h2 {
    opacity: .6;
    margin-top: 50px;
}

.card-buttons > button {
    margin: 10px 15px;
    font-family: "Arial Rounded MT Bold";
}

.card-study {
    margin: 10% 20%;
    min-height: 300px;
    height: fit-content;
    color: #fff;
    border-radius: 5px;
    line-height: 2em;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

    transform-style: preserve-3d;
    transition: 150ms;
    transform: perspective(1000px) rotateY(var(--rotate-y, ))
        translateY(var(--translate-y, 0));
}

.card-study > div {
    padding: 15%;
    min-height: 200px;
}

.card-study.flip {
    --rotate-y: 180deg;
}


.front-side {
    background-color: deeppink;
    border: deeppink solid 1px;
    border-radius: 5px;
}

.back-side {
    background-color: #fff;
    color: deeppink;
    border: deeppink solid 1px;
    border-radius: 5px;
    transform: rotateY(180deg);
}

.flip-card {
    margin: 30px;
}

button {
    font-family: "Arial Rounded MT Bold";
    cursor: pointer;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    color: deeppink;
}

.card-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 60%;
}

.card-buttons-home {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.arrow-prev {
    transform: rotateY(180deg);
    height: 10px;
}

.arrow-next {
    height: 10px;
}
